# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
*.sln.iml

# Build artifacts
bin/
obj/
[Bb]uild/
[Bb]uilds/

# OS junk
Thumbs.db
.DS_Store
desktop.ini
Source/ServitorChip.csproj
Assemblies/Segmentum-Servitors.pdb
Segmentum-Servitors.sln
Source/Assemblies
Source/Segmentum-Servitors.csproj
Source/Segmentum-Servitors.slnx
Source/Properties/AssemblyInfo.cs
